[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = 'pycrysfml08'
version = '0.0.1-alpha0'
description = "Testing packaging PyCrysFML08 from https://code.ill.fr/scientific-software/PyCrysFML08"
authors = [
  {name = "Andrew Sazonov", email = "andrew.sazonov@ess.eu"}
]
maintainers = [
  {name = "Andrew Sazonov", email = "andrew.sazonov@ess.eu"}
]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
requires-python = ">=3.11"
dependencies = [
    "numpy"
]

[project.optional-dependencies]
dev = [
    "deepdiff",
    "pytest>=5.2"
]

[project.urls]
Homepage = "https://github.com/AndrewSazonov/test_pycrysfml08_build"

[tool.hatch.build.targets.wheel]
packages = ["pycrysfml08_dist/pycrysfml08"]
artifacts = ["*.py", "*.so", "*.pyd", "*.dll", "*.txt"]
